@charset "UTF-8";
/*
==========================
General Styles
==========================
*/
@font-face {
  font-family: 'FuturaStd light';
  src: url("../fonts/FuturaStd/FuturaStd-light.eot");
  src: url("../fonts/FuturaStd/FuturaStd-light.svg");
  src: url("../fonts/FuturaStd/FuturaStd-light.ttf");
  src: url("../fonts/FuturaStd/FuturaStd-light.woff"); }
@font-face {
  font-family: 'FuturaStd medium';
  src: url("../fonts/FuturaStd/FuturaStd-medium.eot");
  src: url("../fonts/FuturaStd/FuturaStd-medium.svg");
  src: url("../fonts/FuturaStd/FuturaStd-medium.ttf");
  src: url("../fonts/FuturaStd/FuturaStd-medium.woff"); }
h1, h2, h3, h4, a {
  font-family: "FuturaStd medium"; }

p, li, span, label {
  font-family: "FuturaStd light"; }

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span, .pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
  border-radius: 0; }

.pagination > li > a, .pagination > li > span {
  background-color: #cccccc;
  color: #ffffff; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #1f80c4; }

.navbar-default {
  background: #ffffff;
  border: 0; }

.featProperties {
  padding-bottom: 30px; }
  .featProperties .featuredList {
    width: 46%;
    display: inline-block;
    float: left;
    position: relative;
    margin: 5px 5px 10px; }
    .featProperties .featuredList img {
      width: 100%; }
    .featProperties .featuredList span {
      background: rgba(0, 33, 87, 0.7);
      color: #ffffff;
      margin: 0;
      text-align: left;
      padding: 10px;
      position: absolute;
      bottom: 0;
      font-size: 16px;
      display: block;
      width: 100%; }
  .featProperties .viewAll {
    display: block;
    clear: both;
    margin-top: 20px; }

ol, ul {
  padding: 0; }

/*
==========================
Navigation
==========================
*/
.navbar {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px; }
  .navbar .logo {
    width: 130px; }

/*
==========================
Hero Section
==========================
*/
.heroWrap {
  background: url(../img/avb-view.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px 0; }
  .heroWrap p {
    color: #ffffff;
    font-size: 18px;
    text-align: center; }
  .heroWrap .heroImg {
    max-width: 420px;
    width: 100%; }
    .heroWrap .heroImg img {
      margin-bottom: 30px;
      max-width: 420px;
      width: 100%; }

.propertySearch {
  background: #e6e7e9;
  padding: 10px; }
  .propertySearch h2 {
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
    text-align: center; }
  .propertySearch label {
    font-weight: 200; }
  .propertySearch select {
    border-radius: 0; }
  .propertySearch button {
    background: #d84927;
    color: #ffffff;
    border-radius: 0;
    margin: 10px auto;
    float: none; }
  .propertySearch button:hover {
    background: #d84927;
    color: #ffffff; }

/*
==========================
Intro
==========================
*/
.introText {
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px; }
  .introText p {
    padding: 30px 10px;
    font-size: 16px; }
  .introText a {
    font-size: 20px;
    background: #d84927;
    padding: 10px 30px;
    color: #ffffff; }
  .introText a:hover {
    text-decoration: none; }

.featProperties {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px; }
  .featProperties h2 {
    font-size: 24px; }
  .featProperties p {
    padding: 10px 10px 30px;
    font-size: 16px; }
  .featProperties .viewAll {
    font-size: 20px;
    background: #d84927;
    padding: 10px 30px;
    color: #ffffff; }
  .featProperties a:hover {
    text-decoration: none; }
  .featProperties .viewBtn {
    float: left;
    clear: both;
    font-size: 12px;
    padding: 10px 15px;
    background: #3bb44a; }

/*
==========================
Appointment
==========================
*/
.setAppointment {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #cccccc; }
  .setAppointment p {
    font-size: 20px; }
  .setAppointment a {
    font-size: 20px;
    background: #3bb44a;
    padding: 10px 30px;
    color: #ffffff; }
  .setAppointment a:hover {
    text-decoration: none; }

.hookWrap {
  background: url(../img/hook-img.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  .hookWrap h2 {
    color: #ffffff;
    font-size: 30px; }
  .hookWrap span {
    color: #ffffff;
    font-size: 20px; }

.reviewWrap {
  background: #1f80c4;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  	/*
    	.arrow {
  		position: absolute;
  		top: 50px;
  		left: 0;
  		right: 0;
  		margin-left: auto;
  		margin-right: auto;
  		z-index: 2000;
  	}
  	*/ }
  .reviewWrap section {
    margin-bottom: 10px; }
  .reviewWrap i {
    font-size: 16px;
    color: #ffffff;
    margin: 5px; }
  .reviewWrap p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 30px; }
  .reviewWrap a {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 30px; }
  .reviewWrap a:hover {
    text-decoration: none; }
  .reviewWrap h3 {
    color: #ffffff;
    font-size: 30px; }
  .reviewWrap span {
    color: #ffffff;
    font-size: 20px; }

.leaseWrap {
  padding: 50px 0; }

.commercialLease {
  padding: 10px 50px; }
  .commercialLease section {
    text-align: center;
    border: 2px solid #cccccc;
    padding: 50px 20px; }
    .commercialLease section h3 {
      margin: 0 0 10px; }
    .commercialLease section p {
      max-width: 250px;
      margin: 0 auto;
      margin-bottom: 20px; }
    .commercialLease section a {
      color: #ffffff;
      padding: 10px 30px;
      background: #3bb44a; }
    .commercialLease section a:hover {
      text-decoration: none; }

.mapWrap .arrowContainer {
  text-align: center;
  position: relative; }

#propertyMaps {
  height: 360px;
  width: 100%;
  text-align: center; }

.locationLinks li {
  display: inline-block;
  list-style: none;
  margin: 15px 0; }

.subFooter {
  padding-bottom: 20px; }
  .subFooter h3 {
    color: #1f80c4;
    margin-bottom: 20px; }
  .subFooter p {
    text-align: justify; }
  .subFooter .col-md-8 img {
    width: 100%; }
  .subFooter .footerBlogList h4 {
    margin: 0 0 5px; }
  .subFooter .footerBlogList ul {
    padding: 0; }
  .subFooter .footerBlogList li {
    list-style: none;
    margin-bottom: 10px; }
  .subFooter input {
    border-radius: 0;
    height: 40px;
    margin-bottom: 10px; }
  .subFooter .subscribeBtn {
    background: #3bb44a;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 20px; }

.carousel-inner .item img {
  width: 100%; }
.carousel-inner h3 {
  color: #ffffff;
  text-align: left;
  margin: 0 0 20px; }
.carousel-inner p {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  padding: 0; }
.carousel-inner section {
  position: relative; }
.carousel-inner .imgDesc {
  position: absolute;
  width: 100%;
  height: 233px;
  background: rgba(0, 33, 87, 0.7);
  top: 170px;
  padding: 20px 10px;
  transition: top 0.5s ease; }
.carousel-inner section:hover .imgDesc {
  top: 0; }

.footerWrap {
  background: #1f80c4; }
  .footerWrap footer {
    padding: 10px;
    color: #ffffff;
    text-align: center; }

.carousel-indicators {
  position: relative;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 30px; }
  .carousel-indicators li {
    background-color: #ccc;
    border: 0; }
  .carousel-indicators .active {
    background-color: #1F80C4; }

/*
==========================
Location Page
==========================
*/
.locationProperties {
  padding: 30px 20px; }
  .locationProperties h1 {
    color: #1f80c4;
    border-bottom: 1px solid #1f80c4;
    margin: 0 0 30px;
    font-size: 25px; }
  .locationProperties img {
    width: 100%; }
  .locationProperties p {
    text-align: justify;
    margin-bottom: 30px; }
  .locationProperties .propertyList {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc; }
  .locationProperties .pagination a {
    font-family: inherit; }
  .locationProperties .viewBtn {
    background: #d84927;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    display: block; }

/*
==========================
Property Page
==========================
*/
.propertyPage {
  padding-top: 20px;
  padding-bottom: 20px; }
  .propertyPage h1 {
    font-size: 30px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; }
  .propertyPage .pdfLink {
    background: #3bb44a;
    padding: 10px 20px;
    color: #ffffff;
    margin-right: 10px; }
  .propertyPage .pdfLink:hover {
    text-decoration: none; }
  .propertyPage p {
    font-size: 18px;
    margin-bottom: 20px; }
  .propertyPage img {
    width: 100%; }
  .propertyPage span {
    display: block;
    margin-bottom: 20px;
    font-size: 20px; }
  .propertyPage .unitHeader {
    background: #1f80c4;
    padding: 20px; }
    .propertyPage .unitHeader h2 {
      color: #ffffff;
      text-align: center;
      margin: 0; }
  .propertyPage .unitTypes {
    padding: 20px 30px; }
    .propertyPage .unitTypes .unitTitle {
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px; }
    .propertyPage .unitTypes h4 {
      display: inline-block;
      margin: 0;
      color: #1f80c4;
      font-size: 16px; }
    .propertyPage .unitTypes .rate {
      float: right; }
    .propertyPage .unitTypes section {
      border: 1px solid #ccc;
      padding: 10px; }
  .propertyPage ul {
    padding: 0; }
  .propertyPage li {
    list-style: none;
    display: block;
    clear: both;
    margin-bottom: 5px;
    overflow: auto; }
    .propertyPage li span {
      font-size: 18px;
      display: inline-block; }
  .propertyPage .vacant {
    background: #3bb44a;
    color: #fff;
    padding: 5px 20px;
    width: 140px;
    display: inline-block;
    text-align: center;
    float: right; }
  .propertyPage .occupied {
    background: #ccc;
    color: #fff;
    padding: 5px 20px;
    width: 140px;
    display: inline-block;
    text-align: center;
    float: right; }

.eventsGallery, .eventComment {
  background: #f2f2f2; }

.ratesInfo {
  padding-top: 30px;
  padding-bottom: 30px; }
  .ratesInfo .row {
    margin-top: 20px;
    padding-bottom: 20px; }
  .ratesInfo h3 {
    margin-top: 0; }
  .ratesInfo p {
    font-size: 16px; }
  .ratesInfo label, .ratesInfo span {
    display: block; }
  .ratesInfo img {
    width: 100%; }

.amenityHead {
  background: url(../img/hook-img.jpg) no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  .amenityHead h3 {
    color: #fff;
    font-size: 40px; }

.propertyFeatures {
  padding-bottom: 30px; }
  .propertyFeatures h3 {
    text-align: center;
    font-size: 40px;
    font-family: "FuturaStd light";
    margin-bottom: 30px; }
  .propertyFeatures .features li {
    display: block;
    width: 100%;
    list-style: disc;
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: justify; }
  .propertyFeatures .features li:before {
    content: "•  "; }
  .propertyFeatures .gallery p {
    font-size: 18px;
    text-align: center; }

.amenities {
  padding: 50px;
  border-bottom: 1px solid #ccc; }
  .amenities p {
    font-size: 18px;
    text-align: center; }

.vicinity {
  background: #1f80c4;
  padding: 30px 0; }
  .vicinity h2 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-family: "FuturaStd light"; }
  .vicinity h3 {
    color: #fff;
    font-size: 26px; }
  .vicinity h4 {
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 10px; }
  .vicinity ul {
    padding-left: 20px; }
  .vicinity li {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px; }
  .vicinity .arrow {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2000; }
  .vicinity section {
    border-top: 1px solid #fff;
    padding: 30px 0; }

#propertyLocation {
  height: 350px;
  width: 100%; }

.commentBox {
  padding: 30px; }
  .commentBox h3 {
    margin-bottom: 30px; }
  .commentBox input, .commentBox textarea {
    border-radius: 0; }

.categoryWrap {
  background: #00b7f0;
  padding: 30px 0;
  text-align: center; }
  .categoryWrap h3, .categoryWrap a {
    color: #fff; }
  .categoryWrap h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px; }
  .categoryWrap ul {
    padding: 0; }
  .categoryWrap li {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #fff;
    margin-bottom: 10px; }
  .categoryWrap li:last-of-type {
    border: 0; }
  .categoryWrap a {
    font-size: 18px;
    font-family: "FuturaStd light"; }

.unitIntro {
  padding-top: 30px;
  padding-bottom: 30px; }

.propertySpecs label {
  display: block;
  font-size: 16px;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 20px; }
  .propertySpecs label span {
    color: #1f80c4;
    float: right;
    font-size: 16px; }

.bookProperty {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
  .bookProperty h3 {
    text-align: center; }
  .bookProperty p {
    font-size: 24px;
    margin: 20px 0;
    display: block;
    text-align: center; }
  .bookProperty a {
    background: #3bb44a;
    padding: 10px 30px;
    color: #ffffff;
    margin: 5px 10px 5px 0;
    display: inline-block; }
  .bookProperty a:hover {
    text-decoration: none; }

.unitFeatures {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc; }

.calendarWrap {
  background: #ccc;
  position: relative; }
  .calendarWrap .calendarStatus {
    padding-top: 30px;
    padding-bottom: 50px; }

#unitCalendar {
  background: #ffffff; }
  #unitCalendar h4 {
    font-size: 26px;
    text-transform: uppercase;
    color: #1f80c4; }
  #unitCalendar .controls {
    padding: 20px 0 20px; }
  #unitCalendar .day-headers {
    background: #00B7F0;
    color: #ffffff;
    padding: 20px 0; }
    #unitCalendar .day-headers .header {
      border-bottom: 0; }

.floorPlans img {
  width: 100%;
  margin-bottom: 20px; }

#datepicker .datePicker {
  display: inline-block; }
#datepicker input {
  height: 40px;
  font-size: 16px; }

.blog .blogList {
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  margin: 10px 0 20px; }
  .blog .blogList img {
    width: 100%; }
  .blog .blogList h2 {
    font-size: 24px;
    margin: 0 0 10px; }
  .blog .blogList p {
    font-size: 16px; }
.blog .article {
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc; }
  .blog .article h1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; }
  .blog .article p {
    font-size: 16px;
    text-align: justify; }
  .blog .article img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px; }
.blog .paginationWrap {
  text-align: center; }
.blog .pagination {
  margin: 0 auto; }
  .blog .pagination li a {
    margin: 5px; }
.blog input, .blog textarea {
  border-radius: 0; }
.blog .commentBtn {
  background: #3bb44a;
  color: #fff;
  padding: 10px 20px; }
.blog .blogComments {
  display: block;
  padding-bottom: 30px; }

.side {
  padding: 20px 10px; }
  .side h3 {
    font-size: 20px;
    padding-bottom: 5px;
    margin: 0 0 10px;
    border-bottom: 1px solid #ccc; }
  .side .searchBtn {
    background: #3bb44a;
    display: block;
    padding: 10px;
    color: #ffffff;
    text-align: center; }
  .side .searchBtn:hover {
    text-decoration: none; }
  .side input {
    border-radius: 0;
    margin-bottom: 10px; }
  .side ul {
    padding: 0; }
  .side li {
    list-style: none;
    margin-bottom: 5px; }
  .side a {
    font-size: 16px; }
  .side section {
    padding: 20px;
    background: #f3f3f3;
    margin-bottom: 20px; }

.contactUs {
  padding-top: 20px;
  padding-bottom: 20px; }
  .contactUs h1 {
    font-size: 30px; }
  .contactUs h3 {
    color: #1f80c4; }
  .contactUs input, .contactUs textarea {
    border-radius: 0; }

.error {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .error h1 {
    font-size: 150px;
    color: #1f80c4; }
  .error p {
    font-size: 30px;
    margin-bottom: 20px; }
  .error a {
    color: #ffffff;
    background: #3bb44a;
    padding: 10px 20px; }
  .error a:hover {
    text-decoration: none; }

/*
=========================
Custom Media Queries
=========================
*/

/*# sourceMappingURL=mobile.css.map */
